<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <script src="https://cdn.socket.io/4.0.1/socket.io.min.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css">
    <title>Tic Tac Toe</title>
</head>
<body class="p-5">
<div class="container">
    <h1>Comment jouer ?</h1>
    <p>Le but du jeu est d’aligner avant son adversaire 3 symboles identiques
        horizontalement, verticalement ou en diagonale.
        Chaque joueur a donc son propre symbole, une croix pour l’un et un
        rond pour l’autre. La partie se termine quand l’un des joueurs à aligner 3 symboles ou
        quand la grille est complétée sans vainqueur. Il y a alors égalité.</p>
    <h1>Comment gagner une partie ?</h1>
    <p>Le premier joueur a aligner 3 symboles identiques gagne la partie. Attention, le joueur
        qui débute est toujours avantagé pour gagner. Pensez donc à alterner !</p>
</div>
<div class="container">
    <div id="form">
        <div class="mb-2">
            <label for="player" class="form-label">Entrez votre pseudo :</label>
            <input type="text" class="form-control" id="player">
        </div>
        <div class="mb-3">
            <label for="game-id" class="form-label">ID de partie à rejoindre :</label>
            <input type="text" class="form-control" id="game-id">
        </div>
        <button type="submit" class="btn btn-primary" id="form-button-create">Créer une partie</button>
        <button type="submit" class="btn btn-secondary" id="form-button-join">Rejoindre une partie</button>
    </div>
</div>
</body>
<script>
    const socket = io("localhost:4001");
    socket.on("connect", () => {
        alert("connected !!!!")
    })

    const formButton = document.getElementById("form-button-join");
    const playerForm = document.getElementById("player");
    let roomID = document.getElementById("game-id").value;

    formButton.onclick = () => {
        const username = playerForm.value;
        if (roomID === "") roomID = createGameID();
        if (username !== "") changePage(username, roomID);
    }

    function changePage(username, roomID) {
        socket.emit('join-game', {username: username, room: roomID});
    }

    function createGameID() {
        return '_' + Math.random().toString(36).substr(2, 9);
    }
</script>
</html>